<p id="notice"><%= notice %></p>

<%if current_user %>

<!--  <form class="form-inline my-2 my-lg-0 pull-left"c style="padding-top: 3.5%">-->
    <% if current_page?(:controller => 'books', :action => 'index') %>
      Search by: &nbsp;<br>
      Title:
      <%= form_tag(books_path, :method => "get", id: "search-title") do %>
        <%= text_field_tag :search_title, params[:search_title], placeholder: "Search Book by title" %> &nbsp;
        <%= submit_tag "Search" ,name:nil ,class:'btn btn-primary' %>
      <% end %>
      <% if @books.present? %>
        <p></p>
      <%else %>
        <%= javascript_tag "myFunction()"%>
      <%end %>

    Author:
    <%= form_tag(books_path, :method => "get", id: "search-author") do %>
      <%= text_field_tag :search_author, params[:search_author], placeholder: "Search Book by author" %> &nbsp;
      <%= submit_tag "Search" ,name:nil ,class:'btn btn-primary' %>
    <% end %>
    <% if @books.present? %>
      <p></p>
    <%else %>
      <%= javascript_tag "myFunction()"%>
    <%end %>

    Subject:
    <%= form_tag(books_path, :method => "get", id: "search-sub") do %>
      <%= text_field_tag :search_sub, params[:search_sub], placeholder: "Search Book by subject" %> &nbsp;
      <%= submit_tag "Search" ,name:nil ,class:'btn btn-primary' %>
    <% end %>
    <% if @books.present? %>
      <p></p>
    <%else %>
      <%= javascript_tag "myFunction()"%>
    <%end %>

    Publication:
    <%= form_tag(books_path, :method => "get", id: "search-pub") do %>
      <%= text_field_tag :search_pub, params[:search_pub], placeholder: "Search Book by Publication" %> &nbsp;
      <%= submit_tag "Search" ,name:nil ,class:'btn btn-primary' %>
    <% end %>
    <% if @books.present? %>
      <p></p>
    <%else %>
      <%= javascript_tag "myFunction()"%>
    <%end %>

    <%end %>

<!--  </form>-->
<%end %>
<strong><h1 class="display-4">Books</h1></strong>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<div class="container-fluid">
<table class="table table-bordered">
  <thead>
  <tr>
    <th scope="col">TITLE</th>
    <th scope="col">AUTHOR</th>
    <th scope="col">LANGUAGE</th>
    <th scope="col">PUBLICATION</th>
    <th scope="col">EDITION</th>
    <th scope="col">COVER PICTURE</th>
    <th scope="col">SUBJECT</th>
    <th scope="col">SUMMARY</th>
    <th scope="col">SPECIAL COLLECTION?</th>
    <th scope="col">LIBRARY</th>
    <th colspan="3"></th>
  </tr>
  </thead>
  <tbody>
    <% @book.each do |book| %>
      <tr>
        <td scope="row"><%= book.b_title %></td>
        <td><%= book.b_author %></td>
        <td><%= book.b_lang %></td>
        <td><%= book.b_pub %></td>
        <td><%= book.b_edition %></td>
        <td><%= image_tag book.b_image, :alt => 'product_image',style:"width:200px;height:200px;" %></td>
        <td><%= book.b_subject %></td>
        <td><%= book.b_summary %></td>
        <td><%= book.b_spl %></td>
        <td><%= Library.find(book.Library_id.to_i).l_name %></td>
        <td><%= link_to 'Show', book %></td>
        <%if current_user.user_type=='librarian' %>
        <td><%= link_to 'Edit', edit_book_path(book) %></td>
        <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <%end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>


