<p id="notice"><%= notice %></p>

<h1>Reservations</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Books</th>
      <th>T borrow</th>
      <th>D return</th>
      <th>Status</th>
      <th>Bookmark</th>
      <th>Fine total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.User %></td>
        <td><%= reservation.Book %></td>
        <td><%= reservation.t_borrow %></td>
        <td><%= reservation.d_return %></td>
        <td><%= reservation.status %></td>
        <td><%= reservation.bookmark %></td>
        <td><%= reservation.fine_total %></td>
        <td><%= link_to 'Show', reservation %></td>
        <td><%= link_to 'Edit', edit_reservation_path(reservation) %></td>
        <td><%= link_to 'Destroy', reservation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reservation', new_reservation_path %>
