<!DOCTYPE html>
<html>
<head>
  <title>LibraryManagementSystem</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<style>
  /*#content{*/
  /*  text-align: center;*/
  /*  padding-top: 10%;*/
  /*}*/
</style>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<h1 class="display-4 text-center" href="#">NCSU Library Management System</h1>

<nav class="navbar navbar-expand-lg navbar-light bg-dark justify-content-end">
  <ul class="navbar-nav">
    <li class="nav-item">

      <%if current_user %>
        <li><%= link_to 'Sign out', destroy_user_session_path,class:"nav-link",style:"color: #F7F7F7", method: :delete %></li>
<!--        <li><%#= link_to 'edit profile', edit_user_registration_path,class:"nav-link",style:"color: #F7F7F7" %></li>-->
    </li>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <%= link_to 'Search', books_path, class: 'button alt' %>
    </form>
    <%else %>
      <li><%= link_to 'Sign up', new_user_registration_path,class:"nav-link",style:"color: #F7F7F7" %></li>
      <li><%= link_to 'Sign in', new_user_session_path,class:"nav-link",style:"color: #F7F7F7" %></li>

    <%end%>
  </ul>
</nav>


<div class="row" id="content">
  <%if current_user %>
    <%if current_user.user_type =="student" %>
      <div class="col col-lg-2">
        <div id="list-example" class="list-group">
          <a> <%= link_to 'Edit my Profile', edit_user_registration_path,class:"list-group-item list-group-item-action"%></a>
          <a> <%= link_to 'View books', books_path, class: 'list-group-item list-group-item-action' %></a>
          <a> <%= link_to 'View Libraries' , libraries_path, class: 'list-group-item list-group-item-action' %></a>

          <a> <%= link_to 'View books and Checkout', books_path, class: 'list-group-item list-group-item-action' %></a>
<!--          <a> <%#= link_to 'View Bookmarks', bookmark_show_reservation_path	, class: 'list-group-item list-group-item-action' %></a>-->
          <!--          <a class="" href="#list-item-4">Item 4</a>-->
        </div>
      </div>
    <%elsif current_user.user_type =="librarian" and current_user.l_approved == true %>
      <div class="col col-lg-2">
        <div id="list-example" class="list-group">
          <a> <%= link_to 'Edit my Profile', edit_user_registration_path,class:"list-group-item list-group-item-action"%></a>
          <a> <%= link_to 'View/Edit all Books', books_path, class: 'list-group-item list-group-item-action' %></a>
          <a> <%= link_to 'Add/remove books-Libraries' , "/addremove", class: 'list-group-item list-group-item-action' %></a>
          <a> <%= link_to 'View/Edit Libraries' , libraries_path, class: 'list-group-item list-group-item-action' %></a>
          <a> <%= link_to 'View book hold requests in my library' , libraries_path, class: 'list-group-item list-group-item-action' %></a>
          <a> <%= link_to 'View checkout books' , libraries_path, class: 'list-group-item list-group-item-action' %></a>
          <a> <%= link_to 'Borrowing history of books' , libraries_path, class: 'list-group-item list-group-item-action' %></a>
        </div>
      </div>
    <%elsif current_user.user_type == "admin" %>
      <div class="col col-lg-2">
        <div id="list-example" class="list-group">
          <a> <%= link_to 'Edit my Profile', edit_user_registration_path,class:"list-group-item list-group-item-action"%></a>
          <a><%= link_to 'Add New Book', new_book_path,class:"list-group-item list-group-item-action" %></a>
          <a> <%= link_to 'View all Books', books_path, class: 'list-group-item list-group-item-action' %></a>
          <a> <%= link_to 'View/Modify Users',dashboard_url(1), class: 'list-group-item list-group-item-action' %></a>
          <a> <%= link_to 'Modify Libraries' , libraries_path, class: 'list-group-item list-group-item-action' %></a>
          <a> <%= link_to 'View book hold requests' , libraries_path, class: 'list-group-item list-group-item-action' %></a>
          <a> <%= link_to 'View checkout books' , libraries_path, class: 'list-group-item list-group-item-action' %></a>
          <a> <%= link_to 'Pending Librarian approvals' ,Lib_approvals_url(1), class: 'list-group-item list-group-item-action' %></a>
          <a> <%= link_to 'Borrowing history of books' , libraries_path, class: 'list-group-item list-group-item-action' %></a>
        </div>
      </div>
    <%end%>
  <%else %>
    <div class="col col-lg-2">
      <div id="list-example" class="list-group">
        <a> <%= link_to 'View all books', books_path, class: 'list-group-item list-group-item-action' %></a>
        <a> <%= link_to 'View all Libraries' , libraries_path, class: 'list-group-item list-group-item-action' %></a>
      </div>
    </div>
  <%end %>
  <div class="col col-lg-6" style="text-align: center">
    <%= yield %>
  </div>
</div>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
